/*
   Author: Zachary Reece
   Version: 11/14/2016
   Filename: stylesheet.css
   Description: The styelsheet for my personal website 
*/

@font-face{
    font-family: "Qontra";
    src: url('Qontra.otf');
}

body {
   /* sets the background color of the whole site to a nice off whiteish color, and sets the font to a cool custom font */
   font-family: Qontra;
	background-color: #B1C2CC;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
   
}

#stripe1 {
	
	position: absolute;
	top: 0%;
	left: 80%;
	width: .25%;
	height: 100%;
	background-color: #355D74;
	
}

#stripe2 {
	
	position: absolute;
	top: 0%;
	left: 80.5%;
	width: 1.5%;
	height: 100%;
	background-color: #355D74;
	
}

#stripe3 {
	
	position: absolute;
	top: 0%;
	left: 82.4%;
	width: .6%;
	height: 100%;
	background-color: #355D74;
	
}

#stripe4 {
	
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	height: .5%;
	background-color: #355D74;
	
}

#stripe5 {
	
	position: absolute;
	top: 91%;
	left: 0%;
	width: 100%;
	height: 3.1%;
	background-color: #355D74;
	
}

#stripe6 {
	
	position: absolute;
	top: 94.9%;
	left: 0%;
	width: 100%;
	height: 1.2%;
	background-color: #355D74;
	
}

#welcome{

	font-size: 5vw;
	color: #1E465D;
   /* constrains div and makes it always stay in the center of the page even if it's resized */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}

#iAm {
	
	font-size: 5vw;
	color: #1E465D;
	position: absolute;
   top: 50%;
   left: 35%;
   transform: translate(-50%, -50%);
	display: none;
	float: left;
	animation: iAmAnimation 3s ease 2s 1 normal forwards;
	
}

@keyframes iAmAnimation {
	
	0% {left: 35%;
		 top: 50%;}
	100% {left: -10%;
			top: 30%;}
	
}

#ZR {
	
	font-size: 5vw;
	color: #1E465D;
	position: absolute;
   top: 50%;
   left: 53%;
   transform: translate(-50%, -50%);
	display: none;
	float: left;
	animation: ZRAnimation 2s ease 2s 1 normal forwards;
}

@keyframes ZRAnimation {
	
	0% {left: 53%;
		 top: 50%;}
	100% {left: 50%;
			top: 5%;}
	
}

#container {
	
	position: absolute;
	top: 20%;
	left: 15%;
	width: 50%;
	height: 50%;
	
}

#work {
	
	overflow: hidden;
	font-size: .75vw;
	color: #DCE4E8;
	width: 40%;
	height: 35%;
	border-radius: 2.5%;
	position: relative;
	top: 30%;
	left: 24.5%;
	background-color: #56788D;
	text-align: center;
	display: none;
	
}

#education {
	
	overflow: hidden;
	font-size: .75vw;
	color: #DCE4E8;
	width: 65%;
	height: 35%;
	border-radius: 2.5%;
	position: relative;
	top: 33%;
	left: 24.5%;
	background-color: #56788D;
	text-align: center;
	display: none;
	
}

#skills {
	
	overflow: hidden;
	font-size: .75vw;
	color: #DCE4E8;
	width: 23.4%;
	height: 35%;
	border-radius: 2.5%;
	position: relative;
	top: -39.85%;
	left: 66%;
	background-color: #56788D;
	text-align: center;
	display: none;
	
}

#aboutme {
	
	overflow: hidden;
	font-size: .75vw;
	color: #DCE4E8;
	width: 21%;
	height: 73%;
	border-radius: 2.5%;
	position: relative;
	top: -74.8%;
	left: 91%;
	background-color: #56788D;
	text-align: center;
	display: none;
	
}

.buttonlabel {
	
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	
}

#pic {

	position: relative;
	border-radius: 2.5%;
	width: 25%;
	height: 100%;
	background-image: url("pictures/me.jpg");
	background-size:  115% 135%;
	display: none;
	float: left;
	
}

#aboutmeparagraph {
	
	position: relative;
	font-size: .9vw;
	text-align: center;
	border-radius: 2.5%;
	top: 5%;
	left: 3%;
	height: 95%;
	width: 70%;
	display: none;
	float: left;
	
}

#contactme {
	
	top: -15%;
	left: 23%;
	position: relative;
	font-size: .75vw;
	text-align: center;
	width: 30%;
	height: 10%;
	display: none;
	float: left;
	color: #1E465D;
	
}

#timeline {
	
	position: relative;
	width: 100%;
	height: 40%;
	display: none;
	float: left;
	background-image: url("pictures/regularTimeline.png");
	top: 55%;
	left: 2.5%;
	background-repeat: no-repeat;
	background-size: 95% 100%;
	
}

#arbys {
	
	top: 5%;
	left: 13%;
	position: absolute;
	background-image: url("pictures/Arbys Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#walgreens {
	
	top: 5%;
	left: 33%;
	position: absolute;
	background-image: url("pictures/Walgreens Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#fhsu_work {
	
	top: 5%;
	left: 53%;
	position: absolute;
	background-image: url("pictures/FHSU Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#mcdonalds {
	
	top: 5%;
	left: 73%;
	position: absolute;
	background-image: url("pictures/McDonalds Logo.png");
	height: 30%;
	width: 13%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#workDescriptions {
	
	font-size: 1vw;
	color: #DCE4E8;
	top: 50%;
	left: 17%;
	position: absolute;
	height: 35%;
	width 35%;
	display: none;
	
}

#arbys:hover ~ #timeline {
	
	background-image: url("pictures/beginningHighlight.png")
	
}

#walgreens:hover ~ #timeline {
	
	background-image: url("pictures/beginningHighlight.png")
	
}

#mcdonalds:hover ~ #timeline {
	
	background-image: url("pictures/endingHighlight.png")
	
}

#fhsu_work:hover ~ #timeline {
	
	background-image: url("pictures/endingMiddleHighlight.png")
	
}

#derby {
	
	top: 5%;
	left: 15%;
	position: absolute;
	background-image: url("pictures/Derby Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#butler {
	
	top: 5%;
	left: 45%;
	position: absolute;
	background-image: url("pictures/Butler Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#fhsu_education {
	
	top: 5%;
	left: 75%;
	position: absolute;
	background-image: url("pictures/FHSU Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#educationNameDerby {
	
	top: 38%;
	left: 3.5%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#educationNameButler {
	
	top: 38%;
	left: 40.5%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#educationNameFHSU {
	
	top: 38%;
	left: 70.5%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#educationInfoDerby {
	
	top: 48%;
	left: 5%;
	position: absolute;
	background-image: url("pictures/Derby Education Block.png");
	width: 20%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#educationInfoButler {
	
	top: 48%;
	left: 41.75%;
	position: absolute;
	background-image: url("pictures/Butler Education Block.png");
	width: 20%;
	height: 25%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#educationInfoFHSU {
	
	top: 52%;
	left: 72%;
	position: absolute;
	background-image: url("pictures/FHSU Education Block.png");
	width: 20%;
	height: 25%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#educationPhoneDerby {
	
	color: #1E465D;
	top: 72%;
	left: 25%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#educationPhoneButler {
	
	color: #1E465D;
	top: 90%;
	left: 41.75%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#educationPhoneFHSU {
	
	color: #1E465D;
	top: 67%;
	left: 50%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#educationAddressDerby {
	
	color: #1E465D;
	top: 60%;
	left: 25%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#educationAddressButler {
	
	color: #1E465D;
	top: 78%;
	left: 41.75%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#educationAddressFHSU {
	
	color: #1E465D;
	top: 55%;
	left: 50%;
	position: absolute;
	width: 20%;
	height: 25%;
	display: none;
	
}

#jquery {
	
	top: 5%;
	left: 2%;
	position: absolute;
	background-image: url("pictures/jQuery Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#jqueryDescription {
	
	top: 13%;
	left: 17%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#css {
	
	top: 35%;
	left: 35%;
	position: absolute;
	background-image: url("pictures/CSS Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#cssDescription {
	
	top: 43%;
	left: 10%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#html {
	
	top: 65%;
	left: 2%;
	position: absolute;
	background-image: url("pictures/HTML Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#htmlDescription {
	
	top: 73%;
	left: 17%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#photoshop {
	
	top: 35%;
	left: 50%;
	position: absolute;
	background-image: url("pictures/Photoshop Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#photoshopDescription {
	
	top: 43%;
	left: 65%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#python {
	
	top: 5%;
	left: 85%;
	position: absolute;
	background-image: url("pictures/Python Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#pythonDescription {
	
	top: 13%;
	left: 60%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}

#javascript {
	
	top: 65%;
	left: 85%;
	position: absolute;
	background-image: url("pictures/JavaScript Logo.png");
	width: 13%;
	height: 30%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
	
}

#javascriptDescription {
	
	top: 73%;
	left: 60%;
	color: #DCE4E8;
	position: absolute;
	font-size: 1vw;
	display: none;
	width: 10em;
	height: 1em;
	
}